<!DOCTYPE html>
<html>
<title>html reports</title>
<h1>Html Reports</h1>
<ul>
<!--    check if html_report_dir_list is empty before preceding-->
{%- for item in html_report_dir_list recursive %}
    <li><a href="/allure_reports/{{ item }}/index.html">{{ item }}</a>
{%- endfor %}
</ul>
</html>
